@use '/src/sass/base/variables.scss' as *;

@mixin title {
    color: $dark;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    text-transform: uppercase;
    text-align: center;
}

@mixin button {
    display: block;
    padding: 0 10px;
    background-color: transparent;
    border-radius: 2px;
    border: 2px solid $dark;
    text-align: center;
    color: $dark;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
}